@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #2c3236;
}

.app {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: rgb(253, 252, 254);
}

.search-bar {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.search {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 3rem;
  background: #202123;
  -webkit-box-shadow: 5px 5px 7px #202123, -5px -5px 7px #202123;
  box-shadow: 5px 5px 7px #202123, -5px -5px 7px #202123;
}

.search input {
  border: none;
  width: 300px;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  font-weight: 500;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: auto;
  margin-left: 3rem;

}

.sort {
  flex: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 3rem;
  background: #1f2123;
  box-shadow: 5px 5px 7px #202123, -5px -5px 7px #202123;
  flex-direction: row;
  margin-left: 2rem;
}

.sort select {
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  align-items: center;
  font-family: var(--font-roboto);
  font-weight: 500;
  border: none;
  outline: none;
  background: #1f2123;
  color: #a1a1a1;
}


.empty h2 {
  font-size: 1.25rem;
  color: #a1a1a1;
  font-family: var(--font-roboto);
  margin-top: 5rem;

}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  height: 450px;
  margin: 2rem;
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.movie img {
  width: 100%;
  height: 100%;
  width: 300px;
  height: 450px;
  border-radius: 30px;
}

.movie:hover {
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 15px;
  opacity: 0;
  color: #a1a1a1;
  font-weight: 600;
  height: 300%;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #1f2123;
  color: #a1a1a1;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-family: var(--font-raleway);
  font-size: 1rem;
  outline: none;
}

.pagination button.active {
  background-color: #a1a1a1;
  color: #212426;
}


